* {
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}

body {
    padding: 0;
    margin: 0;
    overflow-x: hidden; 
}

.toTop {
    position: fixed;
    bottom: 30px;
    right: 30px;
    border-radius: 100%;
    padding: 15px 20px;
    box-sizing: border-box;
    background-color: #054c75;
    box-shadow: 0 1px 2px #00000005, 
                0 2px 4px rgba(0,0,0,0.1), 
                0 4px 8px rgba(0,0,0,0.2), 
                0 8px 16px rgba(0,0,0,0.3),
                0 16px 32px rgba(0,0,0,0.011);
    z-index: 98;
    color: white;
    cursor: pointer;
}

.toTop i {
    animation: tp 2s infinite ease-in-out;
}

@keyframes tp {
    0% {
        position: relative;
        top: 0;
    }
    50% {
        position: relative;
        top: 5px;
    }
    100% {
        position: relative;
        top: 0;
    }
}

::-webkit-scrollbar {
    display: none;
}

section {
    position: relative;
    width: 100vw;
    height: max-content;
}

.navbar-brand {
    width: 80%;
}

.Pesan {
    position: absolute;
    margin-top: 0px;
    margin-left: -170px;
    background-color: #228ecc;
    border-radius: 50px;
    width: 170px;
    padding: 7px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;    
    text-align: center;
    color: white;
    transition: 0.3s;
}

.Pesan:hover {
    filter: brightness(90%);
    transition: 0.3s;
}

.navbar-toggler:focus {
    border: none;
    outline: none;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100vw;
    height: auto;
    z-index: 333;
    padding: 15px 30px;
    box-sizing: border-box;
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(0,0,0,0.02), 
                0 2px 4px rgba(0,0,0,0.02), 
                0 4px 8px rgba(0,0,0,0.02), 
                0 8px 16px rgba(0,0,0,0.02),
                0 16px 32px rgba(0,0,0,0.02)
}

nav ul li {
    margin-right: 15px;
}

.navbar-light .navbar-toggler-icon {
    background-image: url('../images/icon/eclipse.png');
}

.navbar-light .navbar-toggler {
    border: none;
}

.logoNavbar {
    position: absolute;
    top: -17px;
    width: 100px;
    cursor: pointer;
}

.jumbotron {
    position: relative;
    height: 600px;
    margin-top: 55px;
    width: 100vw;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../images/public/joshua-fernandez-RYdzjEVx_OE-unsplash.jpg'); 
}

.jumbotron::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.5;
}

.jumbotron .title-jumbotron {
    position: absolute;
    transform: translate(-50%, -50%);
    width: 100vw;
    left: 50%;
    text-align: center;
    top: 190px;
    text-shadow: 0 1px 1px rgba(0,0,0,0.12), 
                0 2px 2px rgba(0,0,0,0.12), 
                0 4px 4px rgba(0,0,0,0.12), 
                0 8px 8px rgba(0,0,0,0.12),
                0 16px 16px rgba(0,0,0,0.12);
    font-size: 50px;
    color: white;
}

.jumbotron p {
    position: relative;
    margin: auto;
    margin-top: 280px;
    width: 80%;
    text-align: center;
    text-shadow: 0 1px 1px rgba(0,0,0,0.12), 
                0 2px 2px rgba(0,0,0,0.12), 
                0 4px 4px rgba(0,0,0,0.12), 
                0 8px 8px rgba(0,0,0,0.12),
                0 16px 16px rgba(0,0,0,0.12);
    color: white;
}

.btn-danger {
    margin-left: 10px;
}

.pageKonsultasi {
    position: absolute;
    width: 300px;
    height: max-content;
    top: 20%;
    right: 0%;
    border-radius: 10px 0 0 10px;
    padding: 30px;
    background-color: #fff;
    z-index: 888;
    transition: 0.5s;
}

.closeKonsultasi {
    position: absolute;
    margin-top: -130px;
    left: 0;
} 

.pageKonsultasiOpen {
    transition: 0.5s;
    right: -100%;
}

.pageKonsultasi textarea {
    width: 100%;
    height: 150px;
    border: none;
    margin: 10px 0;
    background-color: rgb(241, 241, 241);
    border: none;
    outline: none;
    padding: 4px;
    color: black;
}

.chatButton {
    position: relative;
    z-index: 5;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    width: max-content;
    height: max-content;
    justify-content: space-between;
    box-shadow: 0 1px 2px rgba(0,0,0,0.02), 
                0 2px 4px rgba(0,0,0,0.02), 
                0 4px 8px rgba(0,0,0,0.02), 
                0 8px 16px rgba(0,0,0,0.02),
                0 16px 32px rgba(0,0,0,0.02);
                box-sizing: border-box;
                transition: 0.3s;
}

.chatButton a {
    color: black;
}

#comment {
    animation: cm1 1s linear;
}

#comment2 {
    animation: cm2 1.5s linear;
}

#comment3 {
    animation: cm3 2s linear;
}

@keyframes cm1 {
    from {
        position: relative;
        transform: scale(0);
    }
    to {
        position: relative;
        transform: scale(1);
    }
}

@keyframes cm2 {
    from {
        position: relative;
        transform: scale(0);
    }
    to {
        position: relative;
        transform: scale(1);
    }
}

@keyframes cm3 {
    from {
        position: relative;
        transform: scale(0);
    }
    to {
        position: relative;
        transform: scale(1);
    }
}

.chatButton .comment {
    width: max-content;
    background: rgb(255, 255, 255);
    margin: 0 15px;
    height: max-content;
    border-radius: 100px;
    padding: 14px 21px;
    cursor: pointer;
}

.chatButton .comment2 {
    width: max-content;
    background: rgb(255, 255, 255);
    margin: 0 15px;
    height: max-content;
    border-radius: 100px;
    padding: 14px 20px;
    cursor: pointer;
}

.chatButton .wa {
    width: max-content;
    background: rgb(255, 255, 255);
    margin: 0 15px;
    height: max-content;
    border-radius: 100px;
    padding: 14px 21px;
    cursor: pointer;
}

.chatButton i {
    font-size: 32px;
    transition: 0.3s;
}

.chatButton div:hover {
    transition: 0.3s;
    filter: brightness(90%);
}

/* section 1 */

.sec1 {
    position: relative;
    margin: 40px auto 20px auto;
    background-color: #228ecc;
    display: flex;
    width: 96%;
    justify-content: center;
    border-radius: 10px;
    align-items: center;
    box-sizing: border-box;
    padding: 0;   
}

.secDecorations {
    position: absolute;
    background-image: url('../images/memphis/Group 2 (4).png');
    width: 130px;
    height: 130px;
    opacity: 0.5;
    bottom: -105px;
    right: 2px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.secDecoration1 {
    position: absolute;
    background-image: url('../images/memphis/Group 2 (4).png');
    width: 130px;
    height: 130px;
    opacity: 0.5;
    bottom: -1090px;
    left: 2px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.secDecoration2 {
    position: absolute;
    background-image: url('../images/memphis/Group 2 (4).png');
    width: 130px;
    height: 130px;
    opacity: 0.5;
    bottom: -1650px;
    right: 2px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.secDecoration3 {
    position: absolute;
    background-image: url('../images/memphis/Group 2 (4).png');
    width: 130px;
    height: 130px;
    opacity: 0.5;
    bottom: -2010px;
    left: 2px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.secSide1 {
    width: 70%;
    height: 100%;
    padding: 40px;
}

.sec1 form {
    text-align: center;
    width: 100%;
}

.sec1 form div:nth-child(2),
.sec1 form div:nth-child(4),
.sec1 form div:nth-child(3), 
.sec1 form div:nth-child(5), 
.sec1 form div:nth-child(6) {
    margin-top: 50px;
}

.sec1 label {
    color: white;
    text-align: center;
}

.sec1 form input, .sec1 form select {
    padding: 10px;
}

.btn-send {
    margin-top: 20px;
    background-color: #fff;
    color: black;
    border-radius: 30px;
    padding: 10px;
}

.btn-send2 {
    margin-top: 20px;
    color: rgb(255, 255, 255);
    border-radius: 30px;
    padding: 10px;
}

/* akhir section 1 */

.kelebihan {
    position: relative;
    margin-top: 80px;
    margin-bottom: 50px;
}


/* section 2 */

.sec2 {
    position: relative;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 95vw;
    justify-content: space-between;
    align-items: center;
    height: max-content;
    display: flex;
    padding: 30px 30px 50px 30px;
    box-sizing: border-box;
}

.sec2 .card {
    position: relative;
    padding: 50px 3px;
    text-align: center;
    display: flex;
    border-radius: 12px;
    border: none;
    width: 30%;
    outline: none;
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(0,0,0,0.02), 
                0 2px 4px rgba(0,0,0,0.02), 
                0 4px 8px rgba(0,0,0,0.02), 
                0 8px 16px rgba(0,0,0,0.02),
                0 16px 32px rgba(0,0,0,0.02);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 20px;
}

.sec2 .card img {
    width: 80px;
}

.sec .card p {
    font-weight: 500;
}

/* akhir section 2 */


/* section - gallery */

.flexbin {
    position: relative;
    width: 90vw;
    height: max-content;
    left: 65px;
    margin-top: 300px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.flexbin img:hover {
    transition: 0.3s ease-in;
    filter: brightness(70%);
}

/* akhir section - gallery */


/* section 3 */

.sec3 {
    position: relative;
    width: 95vw;
    height: max-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    margin-bottom: 150px;
    justify-content: center;
    align-items: center;
    padding: 10px 40px;
    box-sizing: border-box;
}

.sec3 .daftarJadwal {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 90vw;
    height: max-content;
}

.sec3 .daftarJadwal table {
    margin: 0 10px;
}

.sec3 .daftarJadwal table tr {
    padding: 30px;
}

/* akhir section 3 */


/* footer */

.sec8 {
    position: relative;
    margin: auto;
    margin-top: 110px;
    margin-bottom: 15px;
    overflow: hidden;
    width: 96vw;
    border-radius: 10px;
    height: 450px;
    background-color: #228ecc;
}

.alamat {
    position: relative;
    width: 100%;
    top: 90px;
}

.wrap-sec8 div {
    height: 100%;
    overflow: hidden;
}

.sec8 i {
    font-size: 38px;
    border-radius: 5px;
    margin-right: 46px;
    margin-left: -15px;
    color: white;
    transition: 1s;
}

.sec8 i:hover {
   cursor: pointer;
   filter: brightness(85%);
   transition: 0.3s;
}

.wrap-sec8 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    height: 100%;
}

.list-footer {
    display: flex;
}

.fb {
    background-color: rgb(3, 6, 204);
}

.yt {
    background-color: rgb(255, 238, 0);
}

.valclass-footer1 {
    margin-right: 20px;
    height: max-content;
}

.valclass-footer {
  margin-bottom: 40px;
}

.wrap-sec8 img {
    width: 160px;
}

.list-sosmed {
    width: 30%;
    background-color: #1585c5;
    height: 100%;
    display: block;
    padding: 40px;
}

.fa-map-marker-alt {
    position: relative;
    left: 25px;
    top: 12px;
    width: 20%;
}

.list-sosmed small {
    color: white;
}

.list-footer {
    padding: 45px 40px;
    width: 70%;
}

.list-footer div {
    position: relative;
    left: 0px;
    margin-left: 30px;
    text-align: left;
}

.list-footer div:nth-child(2) {
    margin-left: 90px;
}

.list-footer div:nth-child(3) {
    margin-left: 50px;
    z-index: 3;
}

.list-footer h2 {
    color: rgb(255, 255, 255);
    font-weight: bold;
}

.list-footer li {
    list-style: none;
    color: rgb(255, 255, 255);
    margin: 30px 0 30px 0;
    font-weight: 500;
    margin-left: -30px;
    transition: 0.3s;
}

.list-footer li:hover {
    cursor: pointer;
    color: rgb(7, 247, 7);
    transition: 0.3s;
}

.sec8-dek1 {
    background-image: url('../images/memphis/Group 2 (4).png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 140px;
    height: 140px;
    position: absolute;
    right: 10px;
    top: 15px;
    opacity: 0.9;
    z-index: 1;
}

/* akhor footer */



/* responsive device mobile */
@media screen and (max-width: 756px) {


    .secDecorations {
        display: none;
    }
    
    .secDecoration1 {
        display: none;
    }

    .navbar ul li {
        color: black;
    }

   .navbar ul {
       margin-top: 20px;
   }

    .Pesan {
        margin-left: 130px;
        width: 180px;
        z-index: 666;
        text-align: center;
    }

    .navbar {
        position: fixed;
        background-color: #fff;
        z-index: 999;
        width: 100vw;
        padding-left: 10px;
        padding-right: 10px;
        box-sizing: border-box;
        box-shadow: 0 1px 2px rgba(0,0,0,0.02), 
                    0 2px 4px rgba(0,0,0,0.02), 
                    0 4px 8px rgba(0,0,0,0.02), 
                    0 8px 16px rgba(0,0,0,0.02),
                    0 16px 32px rgba(0,0,0,0.02)
    }
    
    .navbar-brand {
        width: 70%;
    }

    .jumbotron {
        position: relative;
        height: max-content;
        background-image: url('../images/public/joshua-fernandez-RYdzjEVx_OE-unsplash.jpg');
        width: 100vw;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .jumbotron .title-jumbotron {
        position: absolute;
        transform: translate(-50%, -50%);
        width: 96vw;
        left: 50%;
        text-align: center;
        top: 180px;
        text-shadow: 0 1px 1px rgba(0,0,0,0.12), 
                    0 2px 2px rgba(0,0,0,0.12), 
                    0 4px 4px rgba(0,0,0,0.12), 
                    0 8px 8px rgba(0,0,0,0.12),
                    0 16px 16px rgba(0,0,0,0.12);
        font-size: 35px;
        color: white;
    }

    .jumbotron p {
        position: relative;
        transform: translate(-53.5%, -50%);
        width: 90vw;
        left: 51%;
        margin-top: 355px;
    }

    .sec1 {
        position: relative;
        margin: 20px auto;
        background-color: #228ecc;
        display: block;
        flex-direction: column;
        width: 96%;
        height: max-content;
        justify-content: center;
        border-radius: 10px;
        align-items: center;
        box-sizing: border-box;
        padding: 0;   
    }
        
    .secSide1 {
        width: 100%;
        height: 100%;
        padding: 20px;
    }

    .sec1 .secSide2 {
      display: none;
    }

    .chatButton i {
        font-size: 27px;
        transition: 0.2s;
    }

    .chatButton:hover i {
        transition: 0.2s;
        font-size: 29px;
    }

    .chatButton {
        position: relative;
        transform: translate(-50%, -50%);
        z-index: 2;
        left: 44%;
        margin-top: -13px;
        margin-bottom: 50px;
        display: flex;
        align-items: center;
        width: max-content;
        height: max-content;
        justify-content: space-between;
        box-shadow: 0 1px 2px rgba(0,0,0,0.02), 
                    0 2px 4px rgba(0,0,0,0.02), 
                    0 4px 8px rgba(0,0,0,0.02), 
                    0 8px 16px rgba(0,0,0,0.02),
                    0 16px 32px rgba(0,0,0,0.02);
                    box-sizing: border-box;
                    transition: 0.3s;
    }

    .pageKonsultasi {
        position: absolute;
        width: 90vw;
        height: max-content;
        top: 20%;
        margin: auto;
        right: -100%;
        border-radius: 10px 0 0 10px;
        padding: 30px;
        background-color: #fff;
        z-index: 888;
        transition: 0.5s;
    }

    .closeKonsultasi {
        position: absolute;
        margin-top: -130px;
        left: 0;
    } 

    .btn-danger {
        margin-left: 10px;
    }

    .pageKonsultasiOpen {
        transition: 0.5s;
        right: 5%;
        border-radius: 10px;
        box-shadow: 0 1px 2px rgba(0,0,0,0.02), 
                    0 2px 4px rgba(0,0,0,0.02), 
                    0 4px 8px rgba(0,0,0,0.02), 
                    0 8px 16px rgba(0,0,0,0.02),
                    0 16px 32px rgba(0,0,0,0.02)
    }

    .sec1 form input {
        padding: 10px;
        width: 100%;
    }
    
    .sec1 form {
        width: 100%;
    }

    /* akhir section 1 */


    /* section 2 */

    .sec2 {
        position: relative;
        height: max-content;
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
        width: 100vw;
        justify-content: space-between;
        align-items: center;
        height: max-content;
        display: block;
        padding: 30px 30px 50px 30px;
        box-sizing: border-box;
    }
        
    .sec2 .card {
        position: relative;
        left: -10px;
        margin-bottom: 33px;
        margin-left: auto;
        margin-right: auto;
        padding: 50px 3px;
        text-align: center;
        display: flex;
        width: 90vw;
        border-radius: 12px;
        border: none;
        outline: none;
        background-color: #fff;
        box-shadow: 0 1px 2px rgba(0,0,0,0.02), 
                    0 1px 4px rgba(0,0,0,0.04), 
                    0 1px 8px rgba(0,0,0,0.08), 
                    0 1px 16px rgba(0,0,0,0.012),
                    0 1px 32px rgba(0,0,0,0.02);
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .sec2 .card:nth-child(4) {
        margin-bottom: 0;
    }

    /* akhir section 2*/

        
    /* section - gallery */

    .flexbin {
        position: relative;
        width: 90vw;
        height: max-content;
        left: 22px;
        justify-content: center;
        align-items: center;
        text-align: center;

    }

    /* akhir section - gallery */


    /* section 3 */
        
    .sec3 {
        position: relative;
        width: 100vw;
        margin-left: auto;
        margin-top: 0px;
        margin-bottom: 30px;
        justify-content: center;
        align-items: center;
        height: max-content;
        overflow: auto;
        display: block;
        padding: 10px 20px;
        box-sizing: border-box;
    }
    
    .kelebihanSec3 {
        position: relative;
        margin-top: 23px;
        margin-bottom: 0px;
    }

    .sec3 .daftarJadwal {
        position: relative;
        margin-top: 30px;
        margin: auto;
        display: flex;
        flex-direction: column;
        overflow-x: scroll;
        justify-content: space-between;
        width: 100%;
        height: max-content;
    }

    .sec3 .daftarJadwal table:nth-child(1) {
        margin: 0px 0px 50px 0;
    }

    .sec3 table {
        overflow-x: scroll;
    }

    /* akhir section 3 */


    /* footer */

    .sec8 {
        position: relative;
        height: max-content;
    }
        
    .wrap-sec8 div {
        width: 100%;
    }

    .list-v {
        margin-left: 15px;
    }

    .sec8 i {
        position: relative;
        font-size: 30px;
        border-radius: 5px;
        padding: 10px;
        margin-right: 35px;
        margin-left: -10px;
        color: rgb(255, 255, 255);
        transition: 0.3s;
    }

    .sec8 i:hover {
        cursor: pointer;
        filter: brightness(85%);
        transition: 0.3s;
    }

    .wrap-sec8 {
        display: flex;
        width: 100%;
        flex-direction: column;
        padding: 0px 0px 0px 0 ;
    }

    .list-sosmed {
        display: flex;
        text-align: center;
        width: 100%;
        flex-direction: column;
        justify-content: center;
    }

    .fa-map-marker-alt {
        display: none
    }

    .fa-map-marker-alt:before {
        display: none;
    }

    .list-sosmed p {
        display: none;
    }
    
    .medsos {
        position: relative;
        left: 28px;
    }

    .info {
        position: relative;
        left: -1px;
    }

    .kontak {
        position: relative;
        left: 4px;
    }

    .kontaks ul {
        position: relative;
        left: 9px;
    }
    
    .list-footer {
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: left;
        align-items: center;
        height: 100%;
        padding: 45px 0px;
    }

    .fb {
        background-color: rgb(3, 6, 204);
    }

    .yt {
        background-color: rgb(255, 238, 0);
    }

    .wrap-sec8 img {
        position: relative;
        width: 150px;
        margin-left: auto;
        margin-right: auto;
    }

    .list-footer div {
        margin-top: 40px;
        margin-right: 0px;
        margin-left: 0px;
        text-align: left;
    }

    .sec8-dek1 {
        display: none;
    }

    .copyright {
        width: 95vw;
        height: 100px;
        height: max-content;
        text-align: left;
        padding-bottom: 15px;
        padding-left: 20px;
        color: rgba(255, 255, 255, 0.685);
        font-weight: bold;
    }

    .list-footer li {
        list-style: none;
        color: rgb(255, 255, 255);
        margin: 30px 0 30px 0;
        font-weight: 500;
        margin-left: -30px;
        transition: 0.3s;
    }

    /* akhir footer */

}