* {
    font-family: 'Poppins', sans-serif;
}

body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    background-color: #CC2261;
}

::-webkit-scrollbar {
    display: none;
}

section {
    width: 100vw;
    height: max-content;
}

.navbar-brand {
    width: 80%;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 999;
    padding-left: 30px;
    padding-right: 30px;
    box-sizing: border-box;
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(0,0,0,0.02), 
    0 2px 4px rgba(0,0,0,0.02), 
    0 4px 8px rgba(0,0,0,0.02), 
    0 8px 16px rgba(0,0,0,0.02),
    0 16px 32px rgba(0,0,0,0.02)
}

nav ul li {
    margin-right: 15px;
}

.navbar-light .navbar-toggler-icon {
    background-image: url('../images/icon/eclipse.png');
}

.navbar-light .navbar-toggler {
    border: none;
}

.logoNavbar {
    width: 100px;
    cursor: pointer;
}

.jumbotron {
    position: relative;
    height: 480px;
    margin-top: 65px;
    background-image: url('../images/public/joshua-fernandez-RYdzjEVx_OE-unsplash.jpg');
    width: 100vw;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.chatButton {
    position: fixed;
    z-index: 999;
    right: 30px;
    width: max-content;
    height: max-content;
    bottom: 30px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    padding: 14px 13px;
    cursor: pointer;
    box-shadow: 0 1px 2px rgba(0,0,0,0.02), 
                0 2px 4px rgba(0,0,0,0.02), 
                0 4px 8px rgba(0,0,0,0.02), 
                0 8px 16px rgba(0,0,0,0.02),
                0 16px 32px rgba(0,0,0,0.02);
    align-items: center;
    background: rgb(255, 255, 255);
    box-sizing: border-box;
    transition: 0.3s;
}

.chatButton i {
    font-size: 32px;
    transition: 0.3s;
}

.chatButton:hover i {
    transition: 0.3s;
    font-size: 36px;
}

/* section 1 */

.sec1 {
    position: relative;
    justify-content: center;
    align-items: center;
    padding: 40px;
    box-sizing: border-box;
    background-color: #CC2261;
}

.sec1 form {
    width: 80%;
}

.sec1 form div:nth-child(2),
.sec1 form div:nth-child(3) {
    margin-top: 50px;
}

.sec1 label {
    color: white;
}

.sec1 form input, .sec1 form select {
    padding: 10px;
}

.btn-send {
    margin-top: 20px;
}

/* akhir section 1 */



/* responsive device mobile */
@media screen and (max-width: 576px) {

    .navbar {
        position: fixed;
        background-color: #fff;
        z-index: 999;
        width: 100vw;
        padding-left: 10px;
        padding-right: 10px;
        box-sizing: border-box;
        box-shadow: 0 1px 2px rgba(0,0,0,0.02), 
                    0 2px 4px rgba(0,0,0,0.02), 
                    0 4px 8px rgba(0,0,0,0.02), 
                    0 8px 16px rgba(0,0,0,0.02),
                    0 16px 32px rgba(0,0,0,0.02)
    }
    
    .navbar-brand {
        width: 70%;
    }

    .jumbotron {
        position: relative;
        height: 400px;
        background-image: url('../images/public/joshua-fernandez-RYdzjEVx_OE-unsplash.jpg');
        width: 100vw;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .sec1 {
        padding: 30px 20px;
        background-color: #CC2261;
    }

    .chatButton i {
        font-size: 27px;
        transition: 0.2s;
    }

    .chatButton:hover i {
        transition: 0.2s;
        font-size: 29px;
    }

    .chatButton {
        position: fixed;
        z-index: 999;
        right: 20px;
        width: max-content;
        height: max-content;
        bottom: 20px;
        border-radius: 100px;
        display: flex;
        justify-content: center;
        padding: 13px 13px;
        cursor: pointer;
        box-shadow:  0 1px 1px rgba(0,0,0,0.12), 
                    0 2px 2px rgba(0,0,0,0.12), 
                    0 4px 4px rgba(0,0,0,0.12), 
                    0 8px 8px rgba(0,0,0,0.12),
                    0 16px 16px rgba(0,0,0,0.12);
        align-items: center;
        background:rgb(255, 3, 108);
        box-sizing: border-box;
        transition: 0.3s;
    }

    .sec1 form input {
        padding: 10px;
        width: 100%;
    }
    
    .sec1 form {
        width: 100%;
    }

}